@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --background-color-dark: #121212;
  --background-color-light: #fff;
  --text-color-dark: #fff;
  --text-color-light: #000;
  --primary-color: #00a59e;
  --secondary-color: #2c5350;
  --link-color-dark: #ffffff;
  --link-color-light: #00887e;
  --input-background-dark: #00685e;
  --input-background-light: #fff;
  --input-border-color: #00887e;
  --transition-duration: 0.15s;
  --font-family: "Inter", sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --pf-global--BorderColor--300: #00887e !important;
}

body {
  background-color: transparent !important;
  font-family: var(--font-family);
  font-weight: 599;
  transition: var(--transition-duration) ease;

  &.black-theme {
    background-color: var(--background-color-dark) !important;
    color: var(--text-color-dark) !important;
    background-image: url("../img/dark-bg.png") !important;
    --pf-c-form-control--BackgroundColor: var(
      --input-background-dark
    ) !important;
    --pf-c-form-control--BorderBottomColor: var(
      --input-border-color
    ) !important;
    --pf-c-form-control--Color: var(--text-color-dark) !important;
    --link--color: var(--link-color-dark);
    --button--color: var(--secondary-color);

    .card-pf {
      background: #004c40 !important;
      color: var(--text-color-dark) !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--text-color-dark);
    }
  }

  &.light-theme {
    background-color: var(--background-color-light) !important;
    color: var(--text-color-light) !important;
    --pf-c-form-control--BackgroundColor: var(
      --input-background-light
    ) !important;
    --pf-c-form-control--BorderBottomColor: var(
      --input-border-color
    ) !important;
    --pf-c-form-control--Color: var(--text-color-light) !important;
    --link--color: var(--link-color-light);
    --button--color: var(--background-color-light);

    .card-pf {
      background: #fff !important;
      color: var(--text-color-light) !important;
    }
  }
}

div.kc-logo-text {
  display: none;
}

#kc-registration-container {
  margin-top: -10px;
  margin-bottom: 20px;
}

.custom-top-right-button {
  position: fixed;
  top: 10px;
  right: 10px;
}

.forgot-password-container {
  text-align: center;
  margin-top: 15px;

  a {
    color: var(--link--color);
    text-decoration: underline;
    transition: color var(--transition-duration) ease;

    &:hover {
      color: #003b37;
    }
  }
}

#kc-registration span {
  font-weight: var(--font-weight-normal);

  a {
    color: var(--link--color);
    text-decoration: underline;
    margin-left: 8px;
    font-weight: var(--font-weight-bold);

    &:hover {
      color: #003e3a;
    }
  }
}

#kc-header-wrapper {
  visibility: hidden;
}

#rememberMe {
  accent-color: var(--input-border-color);
}

body.black-theme #kc-form-options .checkbox {
  color: var(--text-color-dark) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  color: #08566b;
}

.pf-c-button {
  font-family: var(--font-family);
  --pf-c-button--m-primary--hover--BackgroundColor: #00504b;
  --pf-c-form-control--hover--BorderBottomColor: unset;
  transition: background-color var(--transition-duration) ease;
  font-size: 12px;
  background-color: var(--primary-color) !important;
}

.pf-c-form-control {
  font-size: 12px;
  --pf-c-form-control--hover--BorderBottomColor: unset;
  --pf-c-form-control--focus--BorderBottomColor: unset;
  --pf-c-form-control--focus--BorderColor: unset;
  --pf-c-form-control--focus--BoxShadow: none;
  border: 1px solid var(--input-border-color) !important;
  outline: none;
  padding-bottom: 5px !important;
  font-weight: var(--font-weight-normal);

  &.black-theme {
    color: var(--text-color-dark);

    &:hover {
      border: 1px solid var(--primary-color);
    }
    &:focus {
      border: 1px solid var(--primary-color) !important;
      background-color: #f9f9f9 !important;
    }
  }

  &.light-theme {
    background-color: var(--input-background-light);
    color: var(--text-color-light);

    &:hover {
      border: 1px solid var(--primary-color);
    }
    &:focus {
      border: 1px solid var(--primary-color) !important;
      background-color: #f9f9f9 !important;
    }
  }
  transition: border-color var(--transition-duration) ease,
    background-color var(--transition-duration) ease;

  &::placeholder {
    color: #919daf;
    font-weight: var(--font-weight-normal);
  }

  &:focus {
    outline: none;
  }
}

.black-theme .pf-c-form-control {
  color: #fff !important;
}

a {
  transition: all 0.15s ease;

  &.light-theme:hover,
  &.light-theme:focus {
    color: #14504b !important;
  }
}

.black-theme a {
  color: #fff !important;

  &:hover,
  &:focus {
    color: #ccc !important;
  }
}

.pf-c-form__label-text {
  &.black-theme {
    color: #08566b;
  }

  &.light-theme {
    color: #08566b;
  }
}

.btn-primary {
  background-color: unset;
  background-image: unset;
  border: none;
  color: unset;

  &:hover {
    background-color: unset;
    border-color: var(--button--color);
  }

  &.active,
  &:active,
  &:focus {
    background-color: inherit !important;
    color: inherit !important;
    border: none;
    box-shadow: none !important;
    outline: none !important;
  }
}

.col-md-10 {
  padding: 0 !important;
}

.pf-m-primary {
  transition: all 0.15s ease !important;

  &:active,
  &:focus,
  &:hover {
    background-color: #00685e !important;
  }
}

.btn {
  box-shadow: unset;
}

.open .dropdown-toggle.btn-primary {
  background-color: unset;
  border-color: var(--button--color);
}

.kc-social-links li {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
}

#kc-info-wrapper {
  font-size: 13px;
  padding: 15px 35px;
  background-color: transparent;
  border-radius: 25px;
}

.card-pf {
  margin: 0 auto;
  box-shadow: none;
  padding: 60px !important;
  max-width: 500px;
  border-top: none;
  border-radius: 25px !important;
}

#kc-form,
.pf-c-form-control,
.pf-c-button {
  border-radius: 45px;
}

#kc-page-title {
  text-align: left;
  margin: 0 !important;
}

button[data-password-toggle] {
  display: none;
}

.pf-c-accordion,
.pf-c-alert,
.pf-c-banner.pf-m-blue,
.pf-c-banner.pf-m-gold,
.pf-c-banner.pf-m-info,
.pf-c-banner.pf-m-warning,
.pf-c-calendar-month,
.pf-c-chip,
.pf-c-chip-group,
.pf-c-context-selector__menu,
.pf-c-data-list,
.pf-c-form-control,
.pf-c-input-group,
.pf-c-masthead.pf-m-light,
.pf-c-masthead.pf-m-light-200,
.pf-c-menu,
.pf-c-page__sidebar.pf-m-light,
.pf-c-select,
.pf-c-table,
.pf-t-light {
  --pf-global--BackgroundColor--100: transparent !important;
}

.login-pf-header {
  margin: 0 !important;
}
